@media print {
    body * {
        visibility: hidden;
    }
    #preview, #preview * {
        visibility: visible;
    }
    #preview {
        position: absolute;
        left: 0;
        top: 0;
    }
}